/* #web_bg {
  background: url(https://111-1321365386.cos.ap-beijing.myqcloud.com/20250224091603874.png);
} */

/*菜单栏中选项字体大小的设置*/
#nav .site-page {
  font-size: 0.9em;
}

/*个人卡片中的社交图标间距设置*/
#aside-content .card-widget .card-info-social-icons .social-icon i,
#aside-content .card-widget .card-info-social-icons .social-icon svg {
  background: transparent;
  border-radius: 14px;
  padding: 6px;
}
#aside-content .card-widget .author-info__bottom-group {
  display: -webkit-box;
}

/*侧边栏中的公告图标间距设置*/
#aside-content .item-headline {
  margin-left: 0px;
}

#aside-content .card-webinfo .item-headline {
  display: flex;
}
