/* #web_bg {
  background: url(https://111-1321365386.cos.ap-beijing.myqcloud.com/20250224091603874.png);
} */

/* 菜单栏中选项字体大小的设置 */
#nav .site-page {
  font-size: 0.9em;
}

/* 个人卡片中的社交图标间距设置 */
#aside-content .card-widget .card-info-social-icons .social-icon i,
#aside-content .card-widget .card-info-social-icons .social-icon svg {
  background: transparent;
  border-radius: 14px;
  padding: 6px;
}
#aside-content .card-widget .author-info__bottom-group {
  display: -webkit-box;
}

/* 侧边栏中的公告图标间距设置 */
#aside-content .item-headline {
  margin-left: 0px;
}

/* 侧边栏中的网站资讯信息显示 */
#aside-content .card-webinfo .item-headline {
  display: flex;
}

/* 分类页面的背景设置 */
[data-theme="dark"] div#tag {
  background: transparent;
}

/* 减小头像的 “下巴”  */
#aside-content > .card-widget.card-info > .card-content {
  min-height: 200px;
}

/* 减小头像的 “上巴”  */
#aside-content .card-info .author-info-avatar {
  margin: 36px auto;
}

/* 减小头像中描述的 “上巴”  */
#aside-content .card-widget .author-info__description {
  top: 32px;
}

/* 关闭右键菜单中简繁切换按钮的显示  */
#rightMenu .rightMenu-group.rightMenu-line #menu-translate {
  display: none;
}
